form {
  margin: auto;
}

input, .reserve {
  margin: 5px;
  width: 30%;
  border: 2px solid black;
  font-size: 18px;
}

.reserve {
  color: white;
  background-color: teal;
  border: 0;
  box-shadow: none;
  padding: 6px;
  width: 35%;
}